'.source.js':
	'it':
		'prefix': 'it'
		'body': """
				it('it should $1', () => {
					$2
				});
		"""
'.source.coffee':
	'it':
		'prefix': 'it'
		'body': """
				it 'it should $1', () ->
					$2
		"""
