'.source.js':
	'before each':
		'prefix': 'be'
		'body': """
				beforeEach(() => {
					$1
				});
		"""
'.source.coffee':
	'before each':
		'prefix': 'be'
		'body': """
				beforeEach () ->
					$1
		"""
