'.source.js':
	'when':
		'prefix': 'when'
		'body': """
				describe('when $1', () => {
					$2
				});
		"""
'.source.coffee':
	'when':
		'prefix': 'when'
		'body': """
				describe 'when $1', () ->
					$2
		"""
