'.source.js':
	'given':
		'prefix': 'given'
		'body': """
				describe('given $1', () => {
					$2
				});
		"""
'.source.coffee':
	'given':
		'prefix': 'given'
		'body': """
				describe 'given $1', () ->
					$2
		"""
