'.source.js':
	'after each':
		'prefix': 'ae'
		'body': """
				afterEach(() => {
					$1
				});
		"""
'.source.coffee':
	'after each':
		'prefix': 'ae'
		'body': """
				afterEach () ->
					$1
		"""
